# Ignorar entorno virtual
venv/

# Ignorar base de datos local (no queremos subir los datos de prueba)
transcripciones.db

# Ignorar archivos temporales de Python
__pycache__/
*.pyc

# Ignorar archivos de audio de prueba
*.mp3
*.wav

# Ignorar reportes generados
*.pdf

# --- IMPORTANTE ---
# Ignorar los secretos
.streamlit/secrets.toml